
    <div class="top">
        <div class="digi">
            <img src="/images/footer/top/digi.svg" alt="digi">
        </div>
        <a href="#">
            <div class="back">
                <span>بازگشت به بالا <i class="fa-regular fa-angle-up" style="color: #b8b7b7;"></i></span>
            </div>
        </a>
    </div>

    <div class="support">
        <span>تلفن پشتیبانی 02161930000</span>
        <span>&nbsp;&nbsp;</span>
        |
        <span>&nbsp;&nbsp;</span>
        <span> 7 روز هفته، 24 ساعته پاسخگوی شما هستیم</span>
    </div>

    <div class="icons">

        <div class="object">
            <div class="image">
                <img src="/images/footer/icons/express-delivery.svg" alt="icons">
            </div>
            <div class="text">
                <span>امکان تحویل اکسپرس</span>
            </div>
        </div>

        <div class="object">
            <div class="image">
                <img src="/images/footer/icons/cash-on-delivery.svg" alt="icons">
            </div>
            <div class="text">
                <span>امکان پرداخت در محل</span>
            </div>
        </div>

        <div class="object">
            <div class="image">
                <img src="/images/footer/icons/support.svg" alt="icons">
            </div>
            <div class="text">
                <span>7 روز هفته، 24 ساعته</span>
            </div>
        </div>

        <div class="object">
            <div class="image">
                <img src="/images/footer/icons/days-return.svg" alt="icons">
            </div>
            <div class="text">
                <span>هفت روز ضمانت بازگشت کالا</span>
            </div>
        </div>

        <div class="object">
            <div class="image">
                <img src="/images/footer/icons/original-products.svg" alt="icons">
            </div>
            <div class="text">
                <span>ضمانت اصل بودن کالا</span>
            </div>
        </div>
    </div>

    <div class="footermenu">
        <div class="submenu1">
            <h4>با دیجیکالا</h4>
            <a href="#"><p>اتاق خبر دیجی کالا</p></a>
            <a href="#"><p>فروش در دیجی کالا</p></a>
            <a href="#"><p>فرصت های شغلی</p></a>
            <a href="#"><p>گزارش تخلف در دیجی کالا</p></a>
            <a href="#"><p>تماس با دیجی کالا</p></a>
            <a href="#"><p>درباره دیجی کالا</p></a>
        </div>

        <div class="submenu2">
            <h4>خدمات مشتریان</h4>
            <a href="#"><p>پاسخ به پرسش های متداول</p></a>
            <a href="#"><p>رویه های بازگرداندن کالا</p></a>
            <a href="#"><p>شرایط استفاده</p></a>
            <a href="#"><p>حریم خصوصی</p></a>
            <a href="#"><p>گزارش باگ</p></a>
        </div>

        <div class="submenu3">
            <h4>راهنمای خرید از دیجی کالا</h4>
            <a href="#"><p>نحوه ثبت سفارش</p></a>
            <a href="#"><p>رویه ارسال سفارش</p></a>
            <a href="#"><p>شیوه های پرداخت</p></a>
        </div>

        <div class="follow">
            <h4>همراه ما باشید!</h4>
            <div class="social">
                <div class="subsocial">
                    <a href="#"><img src="/images/footer/social/instagram.png" alt="instagram"></a>
                </div>
                <div class="subsocial">
                    <a href="#"><img src="/images/footer/social/twitter.png" alt="twitter"></a>
                </div>
                <div class="subsocial">
                    <a href="#"><img src="/images/footer/social/linkedin.png" alt="linkdin"></a>
                </div>
                <div class="subsocial">
                    <a href="#"><img src="/images/footer/social/aparat.png" alt="aparat"></a>
                </div>
            </div>
            <h4>با ثبت ایمیل، از جدیدترین تخفیف ها باخبر شوید</h4>
            <form action="#" method="post">
                <input type="email" name="email" id="email" placeholder="ایمیل شما">
                <input type="submit" value="ثبت" id="email">
            </form>
        </div>
    </div>

    <div class="download">
        <div class="right">
            <img src="/images/footer/download/footerlogo2.webp" alt="icondigi">
            <div class="text">
                <span>دانلود اپلیکیشن دیجی کالا</span>
            </div>
        </div>

        <div class="left">
            <div class="imagedown1">
                <img src="/images/footer/download/coffe-bazzar.svg" alt="bazar">
            </div>
            <div class="imagedown2">
                <img src="/images/footer/download/myket.svg" alt="myket">
            </div>
            <div class="imagedown3">
                <img src="/images/footer/download/sib-app.svg" alt="sib">
            </div>
            <div class="imagedown4">
                <img src="/images/footer/download/More.svg" alt="more">
            </div>
        </div>
    </div>

    <div class="store">

        <div class="right">
            <h4>فروشگاه اینترنتی دیجی کالا، بررسی، انتخاب و خرید آنلاین</h4>
            <p> اینترنتی مطمئن، نیازمند فروشگاهی است که بتواند کالاهایی متنوع، باکیفیت و دارای قیمت مناسب را در مدت زمانی کوتاه به دست مشتریان خود برساند و ضمانت بازگشت کالا هم داشته باشد؛ ویژگی‌هایی که فروشگاه اینترنتی دیجی‌کالا سال‌هاست بر روی آن‌ها کار کرده و توانسته از این طریق مشتریان ثابت خود را داشته باشد.</p>
            <p class="hide">
                یکی از مهم‌ترین دغدغه‌های کاربران دیجی‌کالا یا هر فروشگاه‌ اینترنتی دیگری، این است که کالای خریداری شده چه زمانی به دستشان می‌رسد. دیجی‌کالا شیوه‌های مختلفی از ارسال را متناسب با فروشنده کالا،‌ مقصد کالا و همچنین نوع
            </p>
            <a href="#"><p>مشاهده بیشتر <i class="fa-solid fa-angle-left"></i> &nbsp;</p></a>
        </div>

        <div class="left">
            <div class="namads1">
                <img src="/images/footer/store/rezi.webp" alt="">
            </div>
            <div class="namads2">
                <img src="/images/footer/store/kasbokar.webp" alt="logo">
            </div>
            <div class="namads3">
                <img src="/images/footer/store/logo.png" alt="logo">
            </div>
        </div>
    </div>

    <div class="licence">
        <span>برای استفاده از مطالب دیجی‌کالا، داشتن «هدف غیرتجاری» و ذکر «منبع» کافیست. تمام حقوق اين وب‌سايت نیز برای شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) است.</span>
    </div>

    <div class="brand">
        <div class="top">
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 1.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 2.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 3.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 4.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 5.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 6.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 7.svg" alt="brand">
            </div>
            <div class="imgbrand nobrandborder">
                <img src="/images/footer/brands/brand 8.svg" alt="brand">
            </div>
        </div>

        <div class="bottom">
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 9.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 10.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 11.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 12.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 13.svg" alt="brand">
            </div>
            <div class="imgbrand">
                <img src="/images/footer/brands/brand 14.svg" alt="brand">
            </div>
            <div class="imgbrand nobrandborder">
                <img src="/images/footer/brands/brand 15.svg" alt="brand">
            </div>
        </div>
    </div>
