<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
   <partial name="_MetaTags"/>
    <title>@ViewData["Title"] - OmniMarket</title>
    
   <partial name="_LinkTags"/>
</head>
<body>
<div class="wrapper">
    <header id="header">
        <partial name="_Header" />
    </header>
       
    @RenderBody()
        
    <footer>
        <partial name="_Footer" />
    </footer>
    <div class="supp">
        <i class="fa-light fa-headset" style="color: #ffffff;"></i>
    </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script>
        var swiper = new Swiper(".mySwiper", {
          spaceBetween: 0,
          centeredSlides: true,
          autoplay: {
            delay: 5000,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>


<!-- Initialize Swiper -->
<script>
          var swiper = new Swiper(".myAmazing", {
            slidesPerView: 6.1,
            spaceBetween: 3, navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          });
        </script>

<script>
          var swiper = new Swiper(".popularBrands", {
            slidesPerView: 6.1,
            spaceBetween: 3, navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
          });
        </script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
