@{
    ViewData["Title"] = "Home Page";
}

<!-- STORY -->
<div class="story">
    <div class="noboarder">
        <a href="#"><img src="~/images/story/sandal.jpeg" alt="story">
        </a><h5>انواع صندل</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story/style.jpeg" alt="story">
        </a><h5>استایل جذاب</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story/vaghtkharid.jpeg" alt="story">
        </a><h5>وقت خریده</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story/perfume.jpeg" alt="story">
        </a><h5>عطرهای اصل</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story/takhfif.jpeg" alt="story">
        </a><h5>تخفیف ویژه</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story/cover.jpeg" alt="story">
        </a><h5>کاور گوشی</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story/tamiz.jpeg" alt="story">
        </a><h5>لباس تمیز</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story/best price.jpeg" alt="story">
        </a><h5>بهترین قیمت</h5>
    </div>
</div>
<!-- End Story -->
<!--slider-->
<div class="slider">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="#"><img src="~/images/slider/first.jpg" alt="swiper"></a></div>
            <div class="swiper-slide"><a href="#"><img src="~/images/slider/second.gif" alt="swiper"></a></div>
            <div class="swiper-slide"><a href="#"><img src="~/images/slider/third.jpg" alt="swiper"></a></div>
            <div class="swiper-slide"><a href="#"><img src="~/images/slider/fourth.jpg" alt="swiper"></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<!--end slider-->
<!-- STORY 2 -->
<div class="story2">
    <div class="noboarder">
        <a href="#"><img src="~/images/story 2/jet.png" alt="story">
        </a><h5>دیجی کالا جت</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story 2/style.png" alt="story">
        </a><h5>حراج استایل</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story 2/digipay.png" alt="story">
        </a><h5>دیجی پی</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story 2/omde.png" alt="story">
        </a><h5>خرید عمده</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story 2/ersal.png" alt="story">
        </a><h5>شیوه های ارسال</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story 2/vaght.png" alt="story">
        </a><h5>وقت خرید ! </h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story 2/lavazem.png" alt="story">
        </a><h5>لوازم تحریر</h5>
    </div>
    <div>
        <a href="#"><img src="~/images/story 2/more.png" alt="story">
        </a><h5>بیشتر</h5>
    </div>
</div>
<!-- End Story 2 -->
<!-- amazing product-->
<div class="amazing">
    <div class="childamazing">
        <div class="swiper myAmazing">
            <div class="swiper-wrapper">

                <div class="swiper-slide removeBg">
                    <div class="image">
                        <img class="amazingImg" src="~/images/amazing/Amazings.svg" alt="slide-img">
                        <img src="~/images/amazing/box.webp" alt="slide-img">
                    </div>
                    <div class="amazingText">مشاهده همه &gt; &nbsp;</div>
                </div>

                <div class="swiper-slide amazingitem border">
                    <div class="image">
                        <img src="~/images/amazing/slide 1.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>615,000<span>تومان</span></h4>
                        <h5>2%</h5>
                    </div>
                    <div class="beforeDiscount">
                        629,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 2.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>398,700<span>تومان</span></h4>
                        <h5>15%</h5>
                    </div>
                    <div class="beforeDiscount">
                        469,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 3.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>22,400<span>تومان</span></h4>
                        <h5>20%</h5>
                    </div>
                    <div class="beforeDiscount">
                        28,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 4.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>240,700<span>تومان</span></h4>
                        <h5>17%</h5>
                    </div>
                    <div class="beforeDiscount">
                        290,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 5.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>13,288,000<span>تومان</span></h4>
                        <h5>11%</h5>
                    </div>
                    <div class="beforeDiscount">
                        14,990,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 6.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>247,000<span>تومان</span></h4>
                        <h5>38%</h5>
                    </div>
                    <div class="beforeDiscount">
                        398,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 7.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>219,000<span>تومان</span></h4>
                        <h5>30%</h5>
                    </div>
                    <div class="beforeDiscount">
                        315,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 8.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>4,999,000<span>تومان</span></h4>
                        <h5>50%</h5>
                    </div>
                    <div class="beforeDiscount">
                        9,980,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 9.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>157,990<span>تومان</span></h4>
                        <h5>39%</h5>
                    </div>
                    <div class="beforeDiscount">
                        259,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 10.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>119,000<span>تومان</span></h4>
                        <h5>37%</h5>
                    </div>
                    <div class="beforeDiscount">
                        189,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 11.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>135,000<span>تومان</span></h4>
                        <h5>14%</h5>
                    </div>
                    <div class="beforeDiscount">
                        157,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem">
                    <div class="image">
                        <img src="~/images/amazing/slide 12.webp" alt="slide-img">
                    </div>
                    <div class="price">
                        <h4>3,499,000<span>تومان</span></h4>
                        <h5>62%</h5>
                    </div>
                    <div class="beforeDiscount">
                        9,112,000
                    </div>
                </div>

                <div class="swiper-slide amazingitem border2">
                    <div class="more">
                        <img src="~/images/amazing/slide 13.png" alt="slide-img">
                    </div>
                    <div class="moreText">مشاهده همه</div>
                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- end amazing product-->
<!-- supermarket amazing-->
<div class="supermarketAmzing">
    <div class="right">
        <a href="#">
            <div class="image">
                <img src="~/images/supermarket amazing/box.webp" alt="supermarketAmzing">
            </div>
            <div class="text">
                <img src="~/images/supermarket amazing/text.svg" alt="supermarketAmzing">
            </div>
            <div class="discount">
                <span>تا 50% تخفیف</span>
            </div>
        </a>
    </div>
    <div class="left">
        <div>
            <a href="#">
                <img src="~/images/supermarket amazing/story 1.webp" alt="story">
            </a>
            <a href="#">
                <img src="~/images/supermarket amazing/story 2.webp" alt="story">
            </a>
            <a href="#">
                <img src="~/images/supermarket amazing/story 3.webp" alt="story">
            </a>
            <a href="#">
                <img src="~/images/supermarket amazing/story 4.webp" alt="story">
            </a>
            <a href="#">
                <img src="~/images/supermarket amazing/story 5.webp" alt="story">
            </a>
            <a href="#">
                <img src="~/images/supermarket amazing/story 6.webp" alt="story">
            </a>
        </div>
        <div class="more">
            <a href="#">
                <span> بیش از 30 کالا</span>
            </a>
        </div>
    </div>
</div>
<!-- end supermarket amazing-->
<!-- image package - 4 image-->
<div class="imagePackage">
    <a href="#"><img src="~/images/image package/image package 1.webp" alt="image-package"></a>
    <a href="#"><img src="~/images/image package/image package 2.webp" alt="image-package"></a>
    <a href="#"><img src="~/images/image package/image package 3.webp" alt="image-package"></a>
    <a href="#"><img src="~/images/image package/image package 4.webp" alt="image-package"></a>
</div>
<!-- end image package - 4 image-->
<!-- segmentation -->
<div class="segmentation">
    <div class="tit">
        <p>دسته بندی های دیجی‌کالا</p>
    </div>
    <div class="story">
        <div class="top">
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story top/story 1.webp" alt="story">
                </a><h5>موبایل</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story top/story 2.webp" alt="story">
                </a><h5>کالای دیجیتال</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story top/story 3.webp" alt="story">
                </a><h5>خانه و آشپزخانه</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story top/story 4.webp" alt="story">
                </a><h5>مد و پوشاک</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story top/story 5.webp" alt="story">
                </a><h5>کالاهای سوپرمارکتی</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story top/story 6.webp" alt="story">
                </a><h5>کتاب، لوازم تحریر و هنر</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story top/story 7.webp" alt="story">
                </a><h5>اسباب بازی، کودک و نوزاد</h5>
            </div>
        </div>

        <div class="bottom">
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story bottom/story 1.webp" alt="story">
                </a><h5>زیبایی و سلامت</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story bottom/story 2.webp" alt="story">
                </a><h5>ورزش و سفر</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story bottom/story 3.webp" alt="story">
                </a><h5>ابزار آلات و تجهیزات</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story bottom/story 4.webp" alt="story">
                </a><h5>خودرو و موتورسیکلت</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story bottom/story 5.webp" alt="story">
                </a><h5>محصولات بومی و محلی</h5>
            </div>
            <div>
                <a href="#">
                    <img src="~/images/segmentation/story bottom/story 6.webp" alt="story">
                </a><h5>کارت هدیه</h5>
            </div>
        </div>
    </div>
</div>
<!-- end segmentation -->
<!-- image package - 2 image-->
<div class="imagePackage2">
    <a href="#"><img src="~/images/image package/image package 2/image 1.webp" alt="image-package"></a>
    <a href="#"><img src="~/images/image package/image package 2/image 2.webp" alt="image-package"></a>
</div>
<!-- end image package - 2 image-->
<!-- offer -->
<div class="offer">
    <div class="tit">
        <p>پیشنهاد دیجی‌کالا</p>
    </div>
    <div class="offerobjects">
        <div class="objects1 bordertopright">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 1.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>گوشی موبایل</h5>
            </div>
        </div>
        <div class="objects1">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 2.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>هدفون، هدست و...</h5>
            </div>
        </div>
        <div class="objects1">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 3.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>ساعت هوشمند</h5>
            </div>
        </div>
        <div class="objects1">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 4.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>خودکار و روان نویس</h5>
            </div>
        </div>
        <div class="objects1">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 5.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>لپ تاپ و الترابوک</h5>
            </div>
        </div>
        <div class="objects1">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 6.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>جامدادی</h5>
            </div>
        </div>
        <div class="objects1  bordertopleft">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 7.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>جوراب زنانه</h5>
            </div>
        </div>


        <div class="objects2 borderbottomright">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 8.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>کیف و کاور گوشی</h5>
            </div>
        </div>
        <div class="objects2">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 9.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>جوراب مردانه</h5>
            </div>
        </div>
        <div class="objects2">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 10.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>دفتر</h5>
            </div>
        </div>
        <div class="objects2">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 11.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>کنسول خانگی</h5>
            </div>
        </div>
        <div class="objects2">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 12.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>پاوربانک (شارژر همراه)</h5>
            </div>
        </div>
        <div class="objects2">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 13.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>اسپیکر (بلندگو)</h5>
            </div>
        </div>
        <div class="objects2 borderbottomleft">
            <div class="offerimg">
                <a href="#">
                    <img src="~/images/offer/offer 14.jpg" alt="story">
                </a>
            </div>
            <div class="offertext">
                <h5>موتورسیکلت</h5>
            </div>
        </div>
    </div>
</div>
<!--end offer -->
<!-- popular brands-->
<div class="popularbrands">
    <div class="tit">
        <p> <i class="fa-solid fa-stars" style="color: #f6c231;"></i> محبوب ترین برندها</p>
    </div>
    <div class="childpopularbrands">
        <div class="swiper popularBrands">
            <div class="swiper-wrapper">

                <div class="swiper-slide border">
                    <div class="image">
                        <img src="~/images/popular brands/brand 1.png">
                    </div>
                </div>

                <div class="swiper-slide  ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 2.png">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 3.png">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 5.png">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 6.png">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 7.jpg">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 8.jpg">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 9.jpg">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img class="brand10" src="~/images/popular brands/brand 10.jpg">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 12.png">
                    </div>
                </div>

                <div class="swiper-slide ">
                    <div class="image">
                        <img src="~/images/popular brands/brand 13.png">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="more">
                        <img src="~/images/popular brands/brand 14.jpg">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="more">
                        <img src="~/images/popular brands/brand 17.png">
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="more">
                        <img src="~/images/popular brands/brand 18.png">
                    </div>
                </div>

                <div class="swiper-slide  border2">
                    <div class="more">
                        <img src="~/images/popular brands/brand 19.jpg">
                    </div>
                </div>

            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
<!-- end popular brands-->
<!-- image package - 3 image-->
<div class="imagePackage2">
    <a href="#"><img src="~/images/image package/image package 3/image 1.webp" alt="image-package"></a>
    <a href="#"><img src="~/images/image package/image package 3/image 2.webp"></a>
</div>
<!-- end image package - 3 image-->
<!-- tech seg-->
<div class="techseg">
    <div class="techchild">
        <div class="tit">
            <p>گوشی موبایل</p>
            <span>براساس بازدیدهای شما</span>
        </div>
        <div class="product">
            <div class="packimage borderleft">
                <img src="~/images/tech seg/mobile/image 1.jpg">
            </div>
            <div class="packimage borderbottom">
                <img src="~/images/tech seg/mobile/image 2.jpg">
            </div>
            <div class="packimage bordertop">
                <img src="~/images/tech seg/mobile/image 3.jpg">
            </div>
            <div class="packimage borderright">
                <img src="~/images/tech seg/mobile/image 4.jpg">
            </div>
        </div>
        <div class="more">
            <a href="#"><span>مشاهده <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
        </div>
    </div>

    <div class="techchild">
        <div class="tit">
            <p>کیف و کاور گوشی</p>
            <span>براساس بازدیدهای شما</span>
        </div>
        <div class="product">
            <div class="packimage borderleft">
                <img src="~/images/tech seg/cover/image 1.jpg">
            </div>
            <div class="packimage borderbottom">
                <img src="~/images/tech seg/cover/image 2.jpg">
            </div>
            <div class="packimage bordertop">
                <img src="~/images/tech seg/cover/image 3.jpg">
            </div>
            <div class="packimage borderright">
                <img src="~/images/tech seg/cover/image 4.jpg">
            </div>
        </div>
        <div class="more">
            <a href="#"><span>مشاهده <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
        </div>
    </div>

    <div class="techchild">
        <div class="tit">
            <p>هدفون، هدست و هندزفری</p>
            <span>براساس بازدیدهای شما</span>
        </div>
        <div class="product">
            <div class="packimage borderleft">
                <img src="~/images/tech seg/headphone/image 1.jpg">
            </div>
            <div class="packimage borderbottom">
                <img src="~/images/tech seg/headphone/image 2.jpg">
            </div>
            <div class="packimage bordertop">
                <img src="~/images/tech seg/headphone/image 3.jpg">
            </div>
            <div class="packimage borderright">
                <img src="~/images/tech seg/headphone/image 4.jpg">
            </div>
        </div>
        <div class="more">
            <a href="#"><span>مشاهده <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
        </div>
    </div>

    <div class="techchild noneboarder">
        <div class="tit">
            <p>ساعت هوشمند</p>
            <span>براساس بازدیدهای شما</span>
        </div>
        <div class="product">
            <div class="packimage borderleft">
                <img src="~/images/tech seg/watch/image 1.jpg">
            </div>
            <div class="packimage borderbottom">
                <img src="~/images/tech seg/watch/image 2.jpg">
            </div>
            <div class="packimage bordertop">
                <img src="~/images/tech seg/watch/image 3.jpg">
            </div>
            <div class="packimage borderright">
                <img src="~/images/tech seg/watch/image 4.jpg">
            </div>
        </div>
        <div class="more">
            <a href="#"><span>مشاهده <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
        </div>
    </div>

</div>
<!-- end tech seg-->
<!-- digiplus-->
<div class="digiplus">
    <div class="right">
        <div class="tit">
            <img src="~/images/digiplus/digiplus-logo.svg" alt="digiplus">
            <div>
                <span>خدمات ویژه برای اعضای دیجی پلاس</span>
                <a href="#">
                    <div> عضویت&nbsp;&nbsp;<i class="fa-solid fa-arrow-left-long" style="color: #ffffff;"></i></div>
                </a>
            </div>
        </div>
        <div class="img">
            <img src="~/images/digiplus/plus-widget.png" alt="digiplus">
        </div>
    </div>

    <div class="left">
        <div class="top">
            <div class="right">
                <p><i class="fa-regular fa-clock-desk" style="color: #941b80;"></i>&nbsp;&nbsp;ارسال فوری رایگان</p>
            </div>
            <div class="left">
                <a href="#"><span>مشاهده همه <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
            </div>
        </div>
        <div class="bottom">
            <div class="packimage1">
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 1.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 2.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 3.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 4.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 5.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 6.jpg" alt="digiplus">
                </div>
            </div>
            <div class="packimage2">
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 7.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 8.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 9.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 10.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 11.jpg" alt="digiplus">
                </div>
                <div class="imagedigiplus">
                    <img src="~/images/digiplus/image 12.jpg" alt="digiplus">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end digiplus-->
<!-- digiclub -->
<div class="digiclub">
    <div class="right">
        <img src="~/images/digiclub/digiclub-logo-white.svg" alt="digiclub">
    </div>
    <div class="left">

        <div class="object1">
            <a href="#">
                <div class="digiclubtext">
                    <p><i class="fa-regular fa-ring-diamond" style="color: #00bfd6;"></i>&nbsp; چرخ و بخت </p>
                </div>
            <div class="digiclubimg">
                <img src="~/images/digiclub/wheel-spinner.webp" alt="digiclub">
            </div>
            </a>
        </div>

        <div class="object2">
            <a href="#">
                <div class="digiclubtext">
                    <p><i class="fa-solid fa-bullseye-arrow" style="color: #00bfd6;"></i>&nbsp; ماموریت ها</p>
                </div>
            <div class="digiclubimg">
                <img src="~/images/digiclub/missions.webp" alt="digiclub">
            </div>
            </a>
        </div>

        <div class="object3">
            <a href="#">
                <div class="digiclubtext">
                    <p><i class="fa-regular fa-treasure-chest" style="color: #00bfd6;"></i>&nbsp; جایزه ها</p>
                </div>
            <div class="digiclubimg">
                <img src="~/images/digiclub/awards.webp" alt="digiclub">
            </div>
            </a>
        </div>

    </div>
</div>
<!-- end digiclub -->
<!-- tech seg 2-->
<div class="techseg">
    <div class="techchild">
        <div class="tit">
            <p>لپ تاپ و الکترابوک</p>
            <span>براساس بازدیدهای شما</span>
        </div>
        <div class="product">
            <div class="packimage borderleft">
                <img src="~/images/tech seg 2/laptop/image 1.jpg">
            </div>
            <div class="packimage borderbottom">
                <img src="~/images/tech seg 2/laptop/image 2.jpg">
            </div>
            <div class="packimage bordertop">
                <img src="~/images/tech seg 2/laptop/image 3.jpg">
            </div>
            <div class="packimage borderright">
                <img src="~/images/tech seg 2/laptop/image 4.jpg">
            </div>
        </div>
        <div class="more">
            <a href="#"><span>مشاهده <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
        </div>
    </div>

    <div class="techchild">
        <div class="tit">
            <p>سایر لوازم خودرو</p>
            <span>براساس بازدیدهای شما</span>
        </div>
        <div class="product">
            <div class="packimage borderleft">
                <img src="~/images/tech seg 2/car tools/image 1.jpg">
            </div>
            <div class="packimage borderbottom">
                <img src="~/images/tech seg 2/car tools/image 2.jpg">
            </div>
            <div class="packimage bordertop">
                <img src="~/images/tech seg 2/car tools/image 3.jpg">
            </div>
            <div class="packimage borderright">
                <img src="~/images/tech seg 2/car tools/image 4.jpg">
            </div>
        </div>
        <div class="more">
            <a href="#"><span>مشاهده <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
        </div>
    </div>

    <div class="techchild">
        <div class="tit">
            <p>کفش ورزشی مردانه</p>
            <span>براساس بازدیدهای شما</span>
        </div>
        <div class="product">
            <div class="packimage borderleft">
                <img src="~/images/tech seg 2/shoes/image 1.jpg">
            </div>
            <div class="packimage borderbottom">
                <img src="~/images/tech seg 2/shoes/image 2.jpg">
            </div>
            <div class="packimage bordertop">
                <img src="~/images/tech seg 2/shoes/image 3.jpg">
            </div>
            <div class="packimage borderright">
                <img src="~/images/tech seg 2/shoes/image 4.jpg">
            </div>
        </div>
        <div class="more">
            <a href="#"><span>مشاهده <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
        </div>
    </div>

    <div class="techchild noneboarder">
        <div class="tit">
            <p>مکمل دارویی</p>
            <span>براساس بازدیدهای شما</span>
        </div>
        <div class="product">
            <div class="packimage borderleft">
                <img src="~/images/tech seg 2/pill/image 1.jpg">
            </div>
            <div class="packimage borderbottom">
                <img src="~/images/tech seg 2/pill/image 2.jpg">
            </div>
            <div class="packimage bordertop">
                <img src="~/images/tech seg 2/pill/image 3.jpg">
            </div>
            <div class="packimage borderright">
                <img src="~/images/tech seg 2/pill/image 4.jpg">
            </div>
        </div>
        <div class="more">
            <a href="#"><span>مشاهده <i class="fa-solid fa-angle-left"></i> &nbsp;</span></a>
        </div>
    </div>

</div>
<!-- end tech seg2-->
<!-- Bestselling -->
<div class="Bestselling">
    <div class="top">
        <div class="title">
            <span><i class="fa-regular fa-fire-flame-curved" style="color: #fabb56;"></i>&nbsp; پرفروش ترین کالاها</span>
            <div class="more">
                <a href="#"><span>مشاهده همه</span></a>
            </div>
        </div>
    </div>
    <div class="bottom">

        <!-- object 1-->
        <div class="object">
            <div class="subobject">
                <div class="img">
                    <img src="~/images/best sellings/object 1/image 1.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">1</span>
                    <span>گوشی موبایل سامسونگ مدل Ga;axy A14  دو سیم کارت ظرفیت 64 ...</span>
                </div>
            </div>

            <div class="subobject">
                <div class="img">
                    <img src="~/images/best sellings/object 1/image 2.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">2</span>
                    <span>شامپو پرژک مدل سیر حجم 450 میلی لیتر</span>
                </div>
            </div>

            <div class="subobject nohotborder">
                <div class="img">
                    <img src="~/images/best sellings/object 1/image 3.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">3</span>
                    <span>دفتر مشق مدل ایفل بسته بندی 5 عددی</span>
                </div>
            </div>
        </div>
        <!-- object 2-->
        <div class="object">
            <div class="subobject">
                <div class="img">
                    <img src="~/images/best sellings/object 2/image 1.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">4</span>
                    <span>هدفون بلوتوثی کیو سی وای مدل T13 TWS </span>
                </div>
            </div>

            <div class="subobject">
                <div class="img">
                    <img src="~/images/best sellings/object 2/image 2.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">5</span>
                    <span> دفتر مشقق 100 برگ M1 </span>
                </div>
            </div>

            <div class="subobject nohotborder">
                <div class="img">
                    <img src="~/images/best sellings/object 2/image 3.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">6</span>
                    <span> کاغذ A4 کپی مکس بسته 500 عددی </span>
                </div>
            </div>
        </div>
        <!-- object 3-->
        <div class="object">
            <div class="subobject">
                <div class="img">
                    <img src="~/images/best sellings/object 3/image 1.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">7</span>
                    <span> اسپاگتی قطر 1.2 زر ماکارون مقدار 700 گرم </span>
                </div>
            </div>
            <div class="subobject">
                <div class="img">
                    <img src="~/images/best sellings/object 3/image 2.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">8</span>
                    <span> پنیر فتا دوشه هراز - 400 گرم </span>
                </div>
            </div>
            <div class="subobject nohotborder">
                <div class="img">
                    <img src="~/images/best sellings/object 3/image 3.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">9</span>
                    <span> رب گوجه فرنگی مکنزی مقدار 800 گرم</span>
                </div>
            </div>
        </div>
        <!-- object 4-->
        <div class="object">
            <div class="subobject">
                <div class="img">
                    <img src="~/images/best sellings/object 4/image 1.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">10</span>
                    <span> نوار دستگاه تست قند خون ایزی گلوکو مدل اتوکدینگ بسته 50 عددی</span>
                </div>
            </div>
            <div class="subobject">
                <div class="img">
                    <img src="~/images/best sellings/object 4/image 2.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">11</span>
                    <span> کنسرو ماهی تون با شوید لادن - 180 گرم </span>
                </div>
            </div>
            <div class="subobject nohotborder">
                <div class="img">
                    <img src="~/images/best sellings/object 4/image 3.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">12</span>
                    <span> رب گوجه فرنگی چین چین - 80 گرم</span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end Bestselling -->
<!-- image package 4-->
<div class="imagePackage4">
    <a href="#"><img src="~/images/image package/image package 4/image.gif" alt="gif"></a>
</div>
<!-- end image package 4-->
<!-- selected discount-->
<div class="selecteddiscount">
    <div class="distitle">
        <span> <i class="fa-regular fa-badge-percent" style="color: #ef4056;"></i> منتخب محصولات تخفیف و حراج</span>
    </div>
    <div class="disproduct">

        <!-- subdis 1-->
        <div class="subdisproduct">
            <div class="disobject disnoborder">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis1/image 1.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>94,320,000<span>تومان</span></h4>
                    <h5>10%</h5>
                </div>
                <div class="beforeDiscount">
                    104,800,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis1/image 2.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>8,299,000<span>تومان</span></h4>
                    <h5>17%</h5>
                </div>
                <div class="beforeDiscount">
                    10,000,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis1/image 3.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>79,000,000<span>تومان</span></h4>
                    <h5>14%</h5>
                </div>
                <div class="beforeDiscount">
                    92,380,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis1/image 4.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>14,299,000<span>تومان</span></h4>
                    <h5>9%</h5>
                </div>
                <div class="beforeDiscount">
                    15,679,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis1/image 5.webp" alt="slide-img">
                </div>
                <div class="price">
                    <h4>14,000<span>تومان</span></h4>
                    <h5>81%</h5>
                </div>
                <div class="beforeDiscount">
                    72,630
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis1/image 6.webp" alt="slide-img">
                </div>
                <div class="price">
                    <h4>49,000<span>تومان</span></h4>
                    <h5>80%</h5>
                </div>
                <div class="beforeDiscount">
                    250,000
                </div>
            </div>


        </div>

        <!-- subdis 2-->
        <div class="subdisproduct">
            <div class="disobject disnoborder">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis2/image 1.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>160,000<span>تومان</span></h4>
                    <h5>80%</h5>
                </div>
                <div class="beforeDiscount">
                    800,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis2/image 2.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>30,000<span>تومان</span></h4>
                    <h5>79%</h5>
                </div>
                <div class="beforeDiscount">
                    145,660
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis2/image 3.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>1,100,000<span>تومان</span></h4>
                    <h5>69%</h5>
                </div>
                <div class="beforeDiscount">
                    3,500,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis2/image 4.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>171,000<span>تومان</span></h4>
                    <h5>82%</h5>
                </div>
                <div class="beforeDiscount">
                    950,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis2/image 5.webp" alt="slide-img">
                </div>
                <div class="price">
                    <h4>277,800<span>تومان</span></h4>
                    <h5>81%</h5>
                </div>
                <div class="beforeDiscount">
                    1,500,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis2/image 6.webp" alt="slide-img">
                </div>
                <div class="price">
                    <h4>480,000<span>تومان</span></h4>
                    <h5>81%</h5>
                </div>
                <div class="beforeDiscount">
                    2,500,000
                </div>
            </div>


        </div>

        <!-- subdis 3-->
        <div class="subdisproduct disnoborder">
            <div class="disobject disnoborder">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis3/image 1.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>800,000<span>تومان</span></h4>
                    <h5>77%</h5>
                </div>
                <div class="beforeDiscount">
                    3,500,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis3/image 2.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>99,000<span>تومان</span></h4>
                    <h5>67%</h5>
                </div>
                <div class="beforeDiscount">
                    300,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis3/image 3.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>1,860,000<span>تومان</span></h4>
                    <h5>65%</h5>
                </div>
                <div class="beforeDiscount">
                    5,250,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis3/image 4.webp" alt="dis-img">
                </div>
                <div class="price">
                    <h4>980,500<span>تومان</span></h4>
                    <h5>63%</h5>
                </div>
                <div class="beforeDiscount">
                    2,650,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis3/image 5.webp" alt="slide-img">
                </div>
                <div class="price">
                    <h4>39,780,,000<span>تومان</span></h4>
                    <h5>22%</h5>
                </div>
                <div class="beforeDiscount">
                    51,000,000
                </div>
            </div>

            <div class="disobject">
                <div class="image">
                    <img src="~/images/selectedDiscount/subdis3/image 6.webp" alt="slide-img">
                </div>
                <div class="price">
                    <h4>14,900,000<span>تومان</span></h4>
                    <h5>22%</h5>
                </div>
                <div class="beforeDiscount">
                    19,000,000
                </div>
            </div>


        </div>
    </div>
</div>
<!-- end selected discount-->
<!-- hottest -->
<div class="Bestselling">
    <div class="top">
        <div class="title">
            <span><i class="fa-regular fa-fire-flame-curved" style="color: #fabb56;"></i>&nbsp; داغ ترین چند ساعت گذشته</span>
            <div class="more">
                <!-- <a href="#"><span>مشاهده همه</span></a> -->
            </div>
        </div>
    </div>
    <div class="bottom">

        <!-- object 1-->
        <div class="object">
            <div class="subobject">
                <div class="img">
                    <img src="~/images/hottest/package 1/image 1.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">1</span>
                    <span>اسپیکر بلوتوثی کیمیسو مدل QS-4809</span>
                </div>
            </div>

            <div class="subobject">
                <div class="img">
                    <img src="~/images/hottest/package 1/image 2.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">2</span>
                    <span>شیشه شوی بارک کد 5559</span>
                </div>
            </div>

            <div class="subobject nohotborder">
                <div class="img">
                    <img src="~/images/hottest/package 1/image 3.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">3</span>
                    <span>آسیاب قهوه دلونگی مدل kg210</span>
                </div>
            </div>
        </div>
        <!-- object 2-->
        <div class="object">
            <div class="subobject">
                <div class="img">
                    <img src="~/images/hottest/package 2/image 1.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">4</span>
                    <span>اسپیکر بلوتوثی قابل حمل لیتو مدل LK-54 </span>
                </div>
            </div>

            <div class="subobject">
                <div class="img">
                    <img src="~/images/hottest/package 2/image 2.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">5</span>
                    <span> ساعت هوشمند مدل I70 Radiant </span>
                </div>
            </div>

            <div class="subobject nohotborder">
                <div class="img">
                    <img src="~/images/hottest/package 2/image 3.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">6</span>
                    <span> لپ تاپ 15.6 اینچی ایسوس مدل Vivobook R1502ZA-BQ709-i3 8GB .... </span>
                </div>
            </div>
        </div>
        <!-- object 3-->
        <div class="object">
            <div class="subobject">
                <div class="img">
                    <img src="~/images/hottest/package 3/image 1.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">7</span>
                    <span> گوشی موبایل شیایومی مدل REDMI 10A 220233L2G دو سیم کارت ...</span>
                </div>
            </div>
            <div class="subobject">
                <div class="img">
                    <img src="~/images/hottest/package 3/image 2.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">8</span>
                    <span> ساعت هوشمند هوکو مدل Y12 Ultra </span>
                </div>
            </div>
            <div class="subobject nohotborder">
                <div class="img">
                    <img src="~/images/hottest/package 3/image 3.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">9</span>
                    <span> فویل آلومینیوم آیری پلاست مدل 35-01 رول 8 متری</span>
                </div>
            </div>
        </div>
        <!-- object 4-->
        <div class="object">
            <div class="subobject">
                <div class="img">
                    <img src="~/images/hottest/package 4/image 1.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">10</span>
                    <span> پیراهن آستین کوتاه مردانه باینت مدل 43-2261546</span>
                </div>
            </div>
            <div class="subobject">
                <div class="img">
                    <img src="~/images/hottest/package 4/image 2.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">11</span>
                    <span> چراغ آویز مدل کنفی PRO </span>
                </div>
            </div>
            <div class="subobject nohotborder">
                <div class="img">
                    <img src="~/images/hottest/package 4/image 3.webp" alt="">
                </div>
                <div class="text">
                    <span class="number">12</span>
                    <span> هندزفری بلوتوثی لنوو مدل thinkplus XT93</span>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end hottest -->
<!-- reading -->
<div class="reading">
    <div class="top">
        <div class="title">
            <span>خواندنی ها</span>
        </div>
        <div class="more">
            <a href="#">
                <span>مطالب بیشتر در دیجی کالا مگ &nbsp;<i class="fa-solid fa-greater-than" style="color: #53c4d3;"></i></span>
            </a>
        </div>
    </div>
    <div class="bottom">

        <div class="readobject">
            <a href="#">
                <div class="image">
                    <img src="~/images/reading/image 1.jpg" alt="reading">
                </div>
                <div class="text">
                    <span>بررسی کوتاه شیایومی 13 ؛ خوش دست و فوق العاده</span>
                </div>
            </a>
        </div>

        <div class="readobject">
            <a href="#">
                <div class="image">
                    <img src="~/images/reading/image 2.jpg" alt="reading">
                </div>
                <div class="text">
                    <span>بررسی ساعت هوشمند IMILAB W01؛ با کارایی بالا</span>
                </div>
            </a>
        </div>

        <div class="readobject">
            <a href="#">
                <div class="image">
                    <img src="~/images/reading/image 3.jpg" alt="reading">
                </div>
                <div class="text">
                    <span>10 لامپ هوشمند جذاب؛ برای زینت بخشیدن به اتاق شما</span>
                </div>
            </a>
        </div>

        <div class="readobject">
            <a href="#">
                <div class="image">
                    <img src="~/images/reading/image 4.jpg" alt="reading">
                </div>
                <div class="text">
                    <span>بررسی اسپری ضد تعریق مردانه نیوآ مدل White X5 ANTI</span>
                </div>
            </a>
        </div>

    </div>
</div>
<!-- end reading -->
